@use "../abstracts/variables" as var;
/**
 * Basic typography style for copy text
 */

body {
   color: var.$text-color;
  background: white;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.75;

}
p {
  margin-block-end: 1rem;
  max-inline-size: clamp(45ch, 50%, 75%);
}

h1, h2, h3, h4, h5 {
  margin: 0;
  margin-block-end: 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}
