node_modules/
public/
src/assets/imgs/hero-bg.jpg
*.jpg
*.jpg
*.jpg
src/assets/imgs/pexels-pixabay-265087.jpg
src/assets/imgs/pexels-pixabay-265087.jpg
src/assets/imgs/pexels-pixabay-459654.jpg
src/assets/imgs/pexels-tranmautritam-326503.jpg
src/assets/imgs/pexels-ylanite-koppens-843266.jpg
