// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: hsl(0, 0%, 98%) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
// media-Queries
$breakpoints: (
  "xs": 0,
  "sm": 30em,
  //  480px
  "md": 45em,
  //  720px
  "lg": 61.25em,
  //  980px
  "xl": 75em //  1200px
  ) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;
// variables 
// colors
$primary: hsl(221, 85%, 56%) !default;
$secondary: hsl(210, 37%, 15%) !default;
$error: #d32752 !default;
$info: #f6c31c !default;
$success: #1ac888 !default;
$dark-blue: hsl(210, 37%, 15%
);
$white: hsl(0, 0%, 100%);
$black: #2222;
$accent: hsl(197, 87%, 56%);

$colors: (
  'primary': #326dee,
  'secondary': hsl(210, 37%, 15%),
  'accent': hsl(197, 87%, 56%),

);


// font size
$font-s: 0.875rem;
$base-font-size: 1rem !default;
$font-m: $base-font-size*0.75;
$font-l: $base-font-size*1.5;
$font-xl: $base-font-size*2;
$font-xxl: $base-font-size*3;

// spacings
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;
$gutter: $base-padding*1.67;
$inline-spacing: $base-padding*1.34;
// borders
$base-border-sm: 0.0625rem;
$base-border-radius: 0.5rem;
// box-shadows
$box-shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
$base-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);