@use "../abstracts/variables" as var;
// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  padding: var.$base-padding*3;
  background-color: var.$secondary;
  color: var.$white;
  text-align: center;
}