// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
/*------------------------------------------
## Header
------------------------------------------*/

@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixin;
.header {
inline-size: 100%;
block-size: 100vh;
background-color: var.$secondary;
&-logolink {
text-decoration: none;
max-inline-size: 6.25rem;
padding-block: var.$gutter;

& .logo-img {
  min-inline-size: 3rem;
 inline-size: clamp(3rem, 4rem, 100%);
}
}

}
#header .header-scrolled {
  box-shadow: var.$base-box-shadow;
  padding-block: var.$base-padding;
}
 .brand-nav {
  flex: 1 auto;
  position: relative;
  
  }

  /*----------------------------------------
**Hero Section**
------------------------------------------*/
.hero {
  inline-size: 100%;
  block-size: 100vh;
  position: relative;
  color: #fff;

  &-content {
    text-align: center;
   position: relative;
   block-size: 100vh;
  }

  &-overlay {
    background-color: var.$secondary;
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
  }
  &__media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 1em;
    bottom: 1em;
    right: 1em;
    z-index: 1000;
    transition: 150ms cubic-bezier(0.5, 0, 0.5, 1);
    visibility: hidden;
    color: var.$accent; 
    @include mixin.m-screen {
      visibility: visible;
    }
  }
  &__media-links::before, &__media-links::after {
    content: "";
    inline-size: 20vh;
    block-size:0.125em  ;
    background-color: transparentize($color: var.$white, $amount: 0.8);
    margin: 0 auto;
    @include mixin.m-screen {
      visibility: visible;
    }
  }
  &__mail {
    position: absolute;
    bottom: 1em;
    left: 1em;
    color: var.$accent;
    font-size: 1.25rem;
    z-index: 999;
   visibility: hidden;
    @include mixin.m-screen {
      visibility: visible;
    }

  }
  &__media-links a:hover {
    opacity: 0.65;
    transform: scale(1.2);
  }
  &-text {
    color: #f5f5f5;
    line-height: 1.1;
    margin-inline: auto;
    font-size: 1.125rem;
  }
  &-title {
    color: #fff;
    font-weight: 600;
    font-size: 2.5rem;
 
  }
  &-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: transparentize($color: var.$white, $amount: 0.5);
  }
}
.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.text-accetent {
  color: var.$accent;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
.display-table {
  inline-size: 100%;
  block-size: 100%;
  display: table;
}

@include mixin.s-screen {
  .hero{
    &-text {
      font-size: 1.25rem;
    }
    &-title {
      font-size:  var.$font-xxl*1.5;
    }
    &-subtitle {
    font-size: 2.5rem;
    }
  }
}
